<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

<% if (config.keywords){ %>
  <meta name="keywords" content="<%= config.keywords %>">
<% } %>

<% if (config.description){ %>
  <meta name="description" content="<%= config.description %>">
<% } %>

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>
  <%= config.title %> - <%= config.subtitle %>
</title>

<%- css('css/style') %>
<%- css('css/highlight') %>
<%- js('js/highlight.pack') %>
<%- css('css/lato-font') %>