<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
<% if (config.keywords){ %>
    <meta name="keywords" content="<%= config.keywords %>" />
<% } %>

<% if (config.keywords){ %>
    <meta name="description" content="<%= config.description %>" />
<% } %>


<title><%= config.title %> - <%= config.subtitle %></title>
<%- css('css/style') %>
<link rel="stylesheet" href="//cdn.bootcss.com/highlight.js/9.2.0/styles/github.min.css">
<script src="//cdn.bootcss.com/highlight.js/9.2.0/highlight.min.js"></script>